<div class="row">
  <div class="col-12 col-md-12">
    <nb-card>
      <nb-card-header>This is the first example</nb-card-header>
      <nb-card-body>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Architecto deserunt doloremque ipsam quod sed ut, veniam?
        Accusantium aspernatur at beatae consequuntur dignissimos dolores fugit iure laudantium, quibusdam, reiciendis repellendus velit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
        ab aspernatur consequatur corporis culpa deserunt esse fuga in
        ipsa ipsam laudantium, maiores nesciunt nulla officia, praesentium qui
        sed soluta, ullam.

      </nb-card-body>
      <nb-card-footer><button class="btn btn-primary" (click)="makeToast()">Show toast</button></nb-card-footer>
    </nb-card>
  </div>
</div>
